<!-- ======= Login Section ======= -->

  <!-- Sign-in Form -->
  <section id="signin" class="signin">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-title">
            <h2>LOGIN</h2>
          </div>
          <form name="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="form-group">
              <input type="text" name="username" class="form-control" id="username" placeholder="Username" 
              [(ngModel)]="employerData.username" #username="ngModel" required>
              <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <div class="text-danger" *ngIf="username.errors?.['required']">
                  Username is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" 
              [(ngModel)]="employerData.password" #password="ngModel" required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="text-danger" *ngIf="password.errors?.['required']">
                  Password is required.
                </div>
              </div>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>
            <div class="form-group text-center">
              <button type="login" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div class="text-center">
            <p><a href="#" class="forgot-password">Forgot Password?</a></p>
            <p>Don't Have an Account? <a routerLink="/eregistration">Create an Account</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End login Section -->

