/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
# Dasboard-image
--------------------------------------------------------------*/
.dashboard-image {
  text-align: center;
  margin-top: 50px;
}

.dashboard-image img {
  max-width: 100%;
  height: auto;
}

.job-list {
  margin-top: 20px;
}



@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard h2{
  font-size: 26px;
  text-align: center;
  color: #106eea;
  font-style: italic;
  margin-top: 20px;
}
.dashboard {
  padding: 80px 0;
}

.dashboard .section-title {
  text-align: center;
}

.dashboard .job-list {
  margin-top: 30px;
  overflow-x: scroll;
}

.dashboard .job-item {
  margin-bottom: 30px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.dashboard .job-item h4 a {
  color: #007bff;
  text-decoration: none;
}

.dashboard .job-item p {
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 200px
}

tr:nth-child(even) {
  background-color: #dddddd;
}