
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>JobMatch 360</span></h1>
      <h2>" Discover your perfect career match with JobMatch 360, <br>
        the ultimate consultancy platform connecting IT professionals <br> with their dream jobs."</h2>
      <div class="row">
        <div class="col-md-6 mb-4">
        <a routerLink="/eregistration" class="btn btn-primary custom-button" >Employer Registration</a>
        <a routerLink="/cregistration" class="btn btn-primary custom-button">Candidate Registration</a></div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <h4 class="title"><a href="">About</a></h4>
            <p class="description">"Our dedicated team at Consulty is committed to delivering high-quality projects and creating opportunities for the immigrant community."</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-chevron-down"></i></div>
            <h4 class="title"><a href="">Employer Portal</a></h4>
            <p class="description">"Empower your organization with our Employer Portal, a robust platform connecting employers with skilled immigrant professionals for seamless recruitment and workforce integration."</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-chevron-down"></i></div>
            <h4 class="title"><a href="">Candidate Portal</a></h4>
            <p class="description">"Unlock your career potential with our Candidate Portal, a comprehensive platform that connects talented immigrant professionals with job opportunities and resources for successful career growth."</p>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-envelope"></i></div>
            <h4 class="title"><a href="">Contact</a></h4>
            <p class="description">"Get in touch with us through our Contact Portal to connect with our team, inquire about our services, or seek assistance. We are here to support you."</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->
