 <!-- ======= Footer ======= -->
 <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>JobMatch 360<span>.</span></h3>
            <p>
              48 Cornerstone Crescent NE <br>
              Calgary, Alberta T3N 1R4<br>
              Canada <br><br>
              <strong>Phone:</strong> (306)580 5123<br>
              <strong>Email:</strong> rbpuluguzzu@puteritsecurity.ca<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About </a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/eregistration">Employer Portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/cregistrtion">Candidate Portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact</a></li>
            </ul>
          </div>

          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us on our social networks to stay updated and engaged</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>puteritsecurity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://puteritsecurity.ca//">puteritsecurity</a>
      </div>
    </div>
  </footer><!-- End Footer -->
